<footer">
        <div class="footer-bg">
        <p class="footer">Made for: The Sparks Foundation #SEPT'21 INTERNSHIP  ||  Made By: Japnoor Singh</p>
        <p class="footer">Copyright &copy; 2021 - All Rights Reserved</p>
    </div>
    </footer>
    
</body>
</html>