<%- include ('header'); -%>
<div id="success">
    <img class = "tick" src="assets/images/success.png">
    <br>
    <h1 style="color:rgb(24, 184, 24);text-align: center;">TRANSACTION SUCCESSFUL</h1>
    <br>
    <a href="/transaction"><button class="btn" >View Transaction Details</button></a>
    <br>
</div>

</body>
</html>

<!-- <%- include ('footer'); -%> -->